<div id="<%= dom_id van %>">
  <p>
    <strong>Name:</strong>
    <%= van.brand %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= van.description %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= van.km %>
  </p>

    <p>
    <strong>Phone number:</strong>
    <%= van.number_of_seat %>
  </p>

    <p>
    <strong>Phone number:</strong>
    <%= van.price %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= van.location %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= van.categorie %>
  </p>

</div>
