
  <p>
    <strong>brand:</strong>
    <%= @van.brand %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @van.description %>
  </p>

  <p>
    <strong>km :</strong>
    <%= @van.km %>
  </p>

    <p>
    <strong>Seat :</strong>
    <%= @van.number_of_seat %>
  </p>

   <p>
    <strong>photos :</strong>
   <% @van.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
  </p>

    <p>
    <strong>Price:</strong>
    <%= @van.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @van.location %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= @van.categorie %>
  </p>
