
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= image_path "banner_image.png" %>);">
</div>

<div class="category-bar">
        <a href="#categorie1" class="category-item">
            <%= image_tag "parents.png"%>
        </a>
        <a href="#categorie2" class="category-item">
            <%= image_tag "pet.png"%>
        </a>
         <a href="#categorie3" class="category-item">
            <%= image_tag "standing.png"%>
        </a>
        <a href="#categorie4" class="category-item">
            <%= image_tag "hug.png"%>
        </a>
         <a href="#categorie5" class="category-item">
            <%= image_tag "heart.png"%>
        </a>
        <a href="#categorie6" class="category-item">
            <%= image_tag "ghost.png"%>
        </a>
</div>
<% @vans.each do |van| %>
  <div>
    <%= van.brand %>
    <%= link_to "Show Van", van_path(van)  %>
    <%= link_to "Edit Van", edit_van_path(van)  %>
  </div>
<% end %>
<%= link_to "Dashboard", user_path(current_user)  %>
<%= link_to "Create Van", new_van_path  %>
