
<p>il faut mettre l'index des vans, quand tu cliques sur ta carte des vans, tu arrives sur la show de van</p>
<% @vans.each do |van| %>
  <div>
    <%= van.brand %>
    <%= link_to "Show Van", van_path(van)  %>
    <%= link_to "Edit Van", edit_van_path(van)  %>
  </div>
<% end %>
<%= link_to "Dashboard", user_path(current_user)  %>
<%= link_to "Create Van", new_van_path  %>
